#### setup

In [7]:
print("************loading the csv file earthquakes**************")
print("************csv file is located within sub folder /ch02/data**************")
import pandas as pd
df = pd.read_csv('../ch02/data/parsed.csv')

************loading the csv file earthquakes**************

#### exercise 1

In [19]:
print ("************calculating the magnitude of 95th percentile of earthquakes in Japan ********")
print ("*******note all results may not be displayed due to limited display area********")

df_japan_95percentile = df[
    (df.parsed_place == 'Japan') & (df.magType == 'mb')
].mag.quantile(0.95)
print (df_japan_95percentile)

************calculating the magnitude of 95th percentile of earthquakes in Japan ********
*******note all results may not be displayed due to limited display area********
4.9

#### exercise 2

In [100]:
print ("************calculating the percentage of earthquakes in Indonesia that were coupled with tsunamis********")

df_indo_tsunami  = df.loc[
    (df.tsunami ==1) & (df.parsed_place == 'Indonesia'), 
                        #['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]



df_indo_all  = df.loc[
    (df.parsed_place == 'Indonesia'), 
                        #['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

df_tsunami_percent = round((df_indo_tsunami.shape[0] /  df_indo_all.shape[0] )*100, 2)
print (df_tsunami_percent)

************calculating the percentage of earthquakes in Indonesia that were coupled with tsunamis********
23.13

#### exercise 3

In [101]:
print ("************calculating the summary statistics for earthquakes in Nevada********")
df[df.parsed_place == 'Nevada'].describe()

************calculating the summary statistics for earthquakes in Nevada********

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

#### Exercise 4

In [118]:
df['ring_of_fire'] = df.parsed_place.str.contains(r'|'.join([
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
]))
df.loc[
    (df.ring_of_fire),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
                ]

,alert,mag,magType,title,tsunami,type
0,NaN,1.35,ml,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake
1,NaN,1.29,ml,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake
2,NaN,3.42,ml,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake
3,NaN,0.44,ml,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake
4,NaN,2.16,md,"M 2.2 - 10km NW of Avenal, CA",0,earthquake
...,...,...,...,...,...,...
9326,NaN,1.82,ml,"M 1.8 - 4km W of Julian, CA",0,earthquake
9327,NaN,0.62,md,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake
9328,NaN,1.00,ml,"M 1.0 - 3km W of Julian, CA",0,earthquake
9330,NaN,1.10,ml,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake
9331,NaN,0.66,ml,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake

#### Exercise 5

In [119]:
df.ring_of_fire.value_counts()

True     7188
False    2144
Name: ring_of_fire, dtype: int64

#### Exercise 6

In [121]:
df.loc[df.ring_of_fire, 'tsunami'].sum()

45